@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
body {
    font-family: Roboto;
    background: #EEEEEE;
    padding-bottom: 50px;
}
body.open {
    overflow: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
body::scrollbar {
  display: none;
}
.greeting {
  position: fixed;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
  background: linear-gradient(285deg, #2095f2, #fe9700, #0d47a1, #f50057, #4a148c, #ff1744, #ff3d00);
  background-size: 1400% 1400%;

  -webkit-animation: greet 45s ease infinite;
  animation: greet 45s ease infinite;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  z-index: 9999;
}
@-webkit-keyframes greet {
    0%{background-position:0% 13%}
    50%{background-position:100% 88%}
    100%{background-position:0% 13%}
}
@keyframes greet {
    0%{background-position:0% 13%}
    50%{background-position:100% 88%}
    100%{background-position:0% 13%}
}

.greet_container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 100vh;
  text-align: center;
  z-index: 9999;
}
.greet_img {
  vertical-align: middle;
  width: 400px;
  opacity: .7;
  transition: all .3s ease-in;
}
.greet_text {
  vertical-align: middle;
  display: inline-block;
  font-size: 39px;
  font-family: Roboto;
  line-height: 0;
  margin-left: 50px;
  margin-top: -18px;
  opacity: .7;
  transition: all .3s ease-in;
}
.greet_text, .greet_img:hover {
  opacity: 1;
  cursor: pointer;
}

.open-menu{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: rgba(0,0,0, .5);
  z-index: 500;
  display: none;
}
#wrap {
    overflow-x: hidden;
}
div.bottomModelDiv {
    position: relative;
}
.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    border: none;
    border-radius: 2px;
    position: relative;
    padding: 8px 30px;
    margin: 10px 1px;
    font-size: 16px;
    font-weight: 100;
    font-family: Roboto;
    letter-spacing: 0;
    will-change: box-shadow, transform;
    -webkit-transition: -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    background: #2196F3;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.btn:hover {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.btn:focus, .btn:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
}
.top {
    max-width: 960px;
    line-height: 85px;
    text-align: center;
}
#top {
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    color: #37474F;
    background-color: #37474F;
    height: 80px;
    position: relative;
}
#logo> img {
    width: 220px;
    vertical-align: middle;
}
div.copyrightContainer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-top: 1px solid #BDBDBD;
    overflow: hidden;
}
div.copyrightContainer> p {
    margin-left: 15px;
    line-height: 50px;
}

#thisEqualsThatSceneDiv {
    max-width: 960px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}


.hamburger {
    position: absolute;
    top: 5px;
    left: 15px;
    width: 70px;
    height: 70px;
    padding: 17px;
    background: transparent;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, -webkit-filter;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    border: 0;
    margin: 0;
    overflow: visible;
}
.hamburger::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #fff;
    z-index: -1;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    transition: all .6s cubic-bezier(0.95, -0.09, .35, .95);
    transform: scale(1);
}
.hamburger.is-active.hamburger::before{
    transform: scale(30);
}

.hamburger:active.hamburger::before{
    transform: scale(.9);
}


.hamburger-box {
    width: 36px;
    height: 36px;
    display: inline-block;
    position: relative;
}
.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 36px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: -webkit-transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
}
.hamburger-inner::before {
    top: -10px;
}
.hamburger-inner::after {
    bottom: -10px;
}

#modelClassUL {
  width: 0;
  height: 100%;
  margin: 0;
  padding: 0px;
  padding-top: 100px;
  padding-bottom: 80px;
  overflow-y: scroll;
  overflow-x: hidden;
}
div.modelClasses {
    position: fixed;
    top: 0;
    left: 0;
    width: 90px;
    height: 90px;
    background: transparent;
    z-index: 999;
    overflow: hidden;
}
div.modelClasses.active{
    height: 100vh;
    width: 420px;
}

.modelClassLI {

}

.ripplelink {
    cursor: pointer;
    float: left;
    width: 100%;
    height: 80px;
    line-height: 80px;
    padding: 20px 0;
    padding-left: 40px;
    text-align: left;
    color: #fff;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index: 0;
}

.ripplelink:hover {
    z-index: 1000;
    background: rgba(158, 158, 158, .5);
    /*box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
.ripplelink:hover > img {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}
.ink {
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, .2);
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    z-index: 105;
}
.animate {
    -webkit-animation: ripple 0.8s cubic-bezier(.4,0,.2,1);
    animation: ripple 0.8s cubic-bezier(.4,0,.2,1);
}
@-webkit-keyframes ripple {
    75% {
        opacity: 1;
        -webkit-transform: scale(2.2);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(2.2);
    }
}
@keyframes ripple {
    75% {
        opacity: 1;
        -webkit-transform: scale(2.2);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(2.2);
        transform: scale(2.2);
    }
}


.modelClassLI img {
    float: left;
    width: 40px;
    margin-right: 30px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .3s cubic-bezier(.4,0,.2,1);
    transition: all .3s cubic-bezier(.4,0,.2,1);
}
.modelClassLI h3 {
    font-family: Roboto;
    color: #000;
    font-weight: 400;
    line-height: 40px;
    float: left;
}

.masterReferenceSVGSelectList {
    position: absolute;
    left: -100px;
    top: -10000000px;
}

.userSelectedReferenceSVG_selected {
    background-color: lightgrey;
}


div.model {
    position: relative;
    margin-top: 10px;
}
div.modelInstance {
    width: 100%;
    position: relative;
    padding-bottom: 25px;
}
div.modelSliders {
    width: 30%;
    float: left;
}
div.modelOutputCtrl {
    position: relative;
    float: left;
    clear: both;
}
div.modelCustomSvg{
    position: relative;
    float: left;
    clear: both;
}
div.model_options {
    width: 35%;
    margin-top: 20px;
}

div.modelSliders, div.modelOutputCtrl, div.modelSvgOutput, div.modelCustomSvg {
    position: relative;
    padding: 20px;
    background: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}
div.inputFieldElement {
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 10px;
    border-bottom: 1px solid #9E9E9E;
}
div.inputFieldElement> select {
    float: right;
    background: transparent;
    padding: 5px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    width: 60px;
    text-align: right;
    font-family: Roboto;
    font-size: 16px;
    border-bottom: 0;
}
div.inputFieldLabel {
    float: left;
    padding-top: 3px;
    font-size: 16px;
    margin-bottom: 10px;
}
div.inputFieldSlider {
    height: 1px;
    border: 0;
    background: #9E9E9E;
    width: 100%;
    bottom: -1px;
    clear: both;
}
div.inputFieldSlider> .ui-state-default {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: -10px;
    background: #2196F3;
    border: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
div.inputFieldSlider> .ui-state-hover, div.inputFieldSlider>.ui-widget-content .ui-state-hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.16), 0 8px 16px rgba(0, 0, 0, 0.36);
}
div.inputFieldSlider> .ui-state-active, div.inputFieldSlider> .ui-widget-content .ui-state-active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.16), 0 8px 16px rgba(0, 0, 0, 0.36);
}
div.inputFieldSlider .ui-slider-range {
    background: #03A9F4;
}
input.inputFieldText[type=text] {
    float: right;
    background: transparent;
    padding-top: 3px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    width: 130px;
    text-align: right;
    font-family: Roboto;
    font-size: 16px;
    border-bottom: 0;
}
div.modelOutputContainer {
    position: relative;
    float: right;
    width: 100%;
    height: 39px;
    margin-top: 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid #9E9E9E;
}
div.modelOutputContainer> select {
    float: right;
    background: transparent;
    padding-top: 2px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    text-align: right;
    font-family: Roboto;
    font-size: 15px;
    border-bottom: 0;
}
div.visualisationOutputContainer select {
    float: right;
    background: transparent;
    padding-top: 2px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    text-align: right;
    font-family: Roboto;
    font-size: 15px;
    border-bottom: 0;
}
div.modelOutputContainer> select, div.visualisationOutputContainer select{
  width: 80%;
}
div.bottomModelSelectDiv {
    float: right;
    width: 100%;
    height: 39px;
    margin-bottom: 10px;
    border-bottom: 1px solid #9E9E9E;
}
div.bottomModelSelectDiv select {
    float: left;
    background: transparent;
    padding-top: 2px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    width: 100%;
    text-align: right;
    font-family: Roboto;
    font-size: 15px;
    border-bottom: 0;
}
div.visualisationOutputContainer {
    position: relative;
    float: right;
    width: 100%;
    height: 39px;
    margin-top: 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid #9E9E9E;
}
div.visualisationOutputContainer select {
    float: right;
    background: transparent;
    padding-top: 2px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    text-align: right;
    font-family: Roboto;
    font-size: 15px;
    border-bottom: 0;
}
div.containerLabel {
    float: left;
    font-size: 16px;
    margin: 0;
}
div.modelVisualisationValue {
    position: absolute;
    top: 20px;
    padding-top: 3px;
    font-size: 13px;
    color: #757575;
}
div.analysis > select.inputFieldSelect {
  padding: 0;
  padding-top: 2px;
  width: 80%;
}
div.modelOutputValue {
    position: absolute;
    top: 14px;
    padding-top: 3px;
    font-size: 12px;
    color: #757575;
}

input.svgTextDescription, input.custom_svgNameInput {
  width: 233px;
}

input.svgTextDescription {
    float: left;
    background: transparent;
    padding: 5px;
    padding-top: 15px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: left;
    font-family: Roboto;
    font-size: 15px;
    border-bottom: 1px solid #9E9E9E;
    -webkit-transition: all .3s;
    transition: all .3s;
}
input.svgTextDescription:hover {
    border-color: rgba(33, 150, 243, .5);
}
input.svgTextDescription:focus {
    color: #0091EA;
    border-color: rgba(33, 150, 243, 1);
}
.svgSaveLink {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 48px;
  float: right;
  margin-top: 3px;
  padding: 0;
  background-color: #2196F3;
  background-image: url(../graphics/thisEquals/icons/save_svg.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center 10px;
  -webkit-box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1
}
.svgSaveLink> a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    background: rgba(33, 150, 243, .8);
}
.svgSaveLink> a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    background: rgba(33, 150, 243, 1);
}

div.customSVGList {
    position: relative;
    overflow-y: hidden;
    width: 100%;
    float: right;
    clear: both;
    margin-bottom: 10px;
}
.custom_svgNameInput {
    position: relative;
    float: left;
    background: transparent;
    padding: 5px;
    padding-top: 5px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    text-align: left;
    font-family: Roboto;
    font-size: 16px;
    border-bottom: 1px solid #9E9E9E;
}
.custom_svgNameInput::-webkit-file-upload-button {
  visibility: hidden;
  width: 0;
}
div.customSVGPaneSubmitButton {
    position: absolute;
    top: -5px;
    right: 0px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0;
    background-color: #2196F3;
    background-image: url(../graphics/thisEquals/icons/upload_svg.svg);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center 7px;
    -webkit-box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}
div.referenceSVGSelectListContainer {
    margin-top: 45px;
    overflow-y: hidden;
    overflow-x: scroll;
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #9E9E9E;
}
div.referenceSVGSelectListContainer::-webkit-scrollbar {
    height: 10px;
}
div.referenceSVGSelectListContainer::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0;
}
div.referenceSVGSelectListContainer::-webkit-scrollbar-thumb {
    height: 10px;
    width: 10px;
    border-radius: 0px;
    background: #555;
}
div.referenceSVGSelectListContainer::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(85, 85, 85, 0.4);
}
div.referenceSVGSelectListContainer> ul {
    display: block;
    width: 2915px;
    padding: 0;
}
div.referenceSVGSelectListContainer> ul> li {
    display: inline-block;
}
div.referenceSVGSelectListItem {
    height: 56px;
    width: 56px;
}
div.referenceSVG {
    width: 50px;
    height: 50px;
    background-color: green;
    position: absolute;
    bottom: 0px;
    right: 100px;
}

div.modelSvgOutput {
    position: absolute;
    top: 20px;
    right: 0;
    width: 63%;
}
div.svgOutput {
  width: 400px;
  height: 400px;
  clear: both;
  margin: 0 auto;
}
div.svgModelRoot {
    width: 100%;
    height: 400px;
    float: left;
    position: relative;
}

div.customSVGPaneTitle {
    float: left;
    padding-top: 4px;
    font-size: 16px;
    margin-bottom: 0px;
}
div.customSVGPane.googleConnect {
    width: 465px;
    padding: 40px 60px 10px;
    background-color: #fff;
    border-radius: 3px;
    border: 0;
    overflow: hidden;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}
div.googleConnect.ui-draggable-dragging {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.googleConnect> .customSVGPaneTitle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background: #2196F3;
    padding: 5px 5px 5px 20px;
}
.googleConnect> .custom_svgNameInput {
    margin: 3px 0;
    padding: 5px;
    width: 100%;
}
a.googleConnect_loginButton {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    background: rgba(33, 150, 243, .8);
}
a.googleConnect_loginButton:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    background: rgba(33, 150, 243, 1);
}
.googleConnect> input.spreadsheetURL {
    width: 90%;
    float: left;
}
.googleConnect> select.spreadsheetURL {
    width: 10%;
    padding: 4px;
}



div.colorControl {
    float: left;
    display: none;
}
div.toggleFeatures {
    display: block;
    float: right;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 12px;
    /*height: 39px;*/
    margin-bottom: 10px;
    border-bottom: 1px solid #9E9E9E;
}
div.toggleFeatures> label {
    float: left;
    height: 30px;
    padding: 0;
    width: 33.3%;
}
div.toggleFeatures> label:last-child {
    margin-right: 0px;
}



* {
    box-sizing: border-box;
}

input.checkbox {
    opacity: 0;
    position: absolute;
    margin: 0;
    z-index: -1;
    width: 0;
    height: 0;
    overflow: hidden;
    left: 0;
    pointer-events: none;
}
.checkbox:focus+ .checkbox_ui .check:after {
    opacity: 0.2;
}
.checkbox:checked+ .checkbox_ui .check {
    border-color: #2196F3;
}
.checkbox:checked+ .checkbox_ui .fa {
    color: #2196F3;
    opacity: 1;
}
.toggleFeatures .fa {
    position: absolute;
    top: -1px;
    right: 1px;
    padding: 4px;
    width: 20px;
    height: 20px;
    font-size: 15px;
}
.toggleFeatures .faAligned {
    right: 2px;
}
.checkbox_ui {
    vertical-align: middle;
    position: relative;
    top: 2px;
    float: left;
    margin-right: 5px;
}
.checkbox_ui:before {
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    content: "";
    background-color: #555;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    z-index: 1;
    opacity: 0;
    margin: 0;
    -webkit-transform: scale3d(2.3, 2.3, 1);
    transform: scale3d(2.3, 2.3, 1);
}
.checkbox_ui .check {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 2px solid #555;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.checkbox_ui .check:before {
    position: absolute;
    content: "";
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: block;
    margin-top: -4px;
    margin-left: 6px;
    width: 0;
    height: 0;
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
    -webkit-animation: checkbox-off 0.3s forwards;
    animation: checkbox-off 0.3s forwards;
}
.checkbox_ui .fa {
    opacity: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.checkbox:checked+ .checkbox_ui:before {
    -webkit-animation: rippleOn 500ms;
    animation: rippleOn 500ms;
}
.checkbox:checked+ .checkbox_ui .check:after {
    -webkit-animation: rippleOn 500ms forwards;
    animation: rippleOn 500ms forwards;
}
.checkbox:not(:checked)+ .checkbox_ui:before {
    -webkit-animation: rippleOff 500ms;
    animation: rippleOff 500ms;
}
.checkbox:not(:checked)+ .checkbox_ui .check:after {
    -webkit-animation: rippleOff 500ms forwards;
    animation: rippleOff 500ms forwards;
}
@-webkit-keyframes rippleOn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}
@keyframes rippleOn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes rippleOff {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}
@keyframes rippleOff {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}

/*color picker style*/

.ui-colorpicker, .ui-dialog.ui-colorpicker {
    border-radius: 3px;
    padding: 10px;
    border: 0px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ui-dialog .ui-dialog-content, .ui-colorpicker-preview, .ui-colorpicker-map, .ui-colorpicker-map> *, .ui-colorpicker-bar, .ui-colorpicker-bar> * {
    border: 0;
}
.ui-colorpicker-map-pointer {
    background: none;
    border: 2px solid rgba(255, 255, 255, .9);
    border-radius: 50%;
}
.ui-colorpicker-bar-pointer {
    background: none;
    border: 2px solid rgba(255, 255, 255, .9);
    border-radius: 3px;
}
.ui-colorpicker-preview-initial, .ui-colorpicker-preview-current {
    width: 70px;
}
.ui-widget input, .ui-colorpicker-hex, .ui-colorpicker-number, .ui-colorpicker-hsv, .ui-colorpicker-rgb-container {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    font-family: Roboto;
}
input.ui-colorpicker-hex-input {
    width: 100px;
}
.ui-dialog .ui-dialog-buttonpane button {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    border: none;
    border-radius: 2px;
    position: relative;
    padding: 8px 30px;
    margin: 10px 1px;
    font-size: 16px;
    font-weight: 100;
    font-family: Roboto;
    letter-spacing: 0;
    will-change: box-shadow, transform;
    -webkit-transition: -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    background: #2196F3;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.ui-dialog .ui-dialog-buttonpane button:hover {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.ui-dialog .ui-dialog-buttonpane button:focus, .ui-dialog .ui-dialog-buttonpane button:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
}
.copyrightContainer:before, .copyrightContainer:after, .modelInstance:before, .modelInstance:after {
    display: table;
    content: " ";
    clear: both;
}




.name_watts> .inputFieldLabel, .name_count> .inputFieldLabel, .name_time> .inputFieldLabel, .name_energy> .inputFieldLabel, .name_mass> .inputFieldLabel, .name_timeToBreathOut> .inputFieldLabel, .name_volume_100> .inputFieldLabel, .name_volume_inAir> .inputFieldLabel, .name_number> .inputFieldLabel, .name_density> .inputFieldLabel, .name_volume> .inputFieldLabel, .name_colours> .inputFieldLabel, .name_randomLayout> .inputFieldLabel, .name_numberOfClones> .inputFieldLabel, .name_ratios> .inputFieldLabel, .name_efficiency> .inputFieldLabel, .modelOutputContainer> .containerLabel, .visualisationOutputContainer> .containerLabel {
    background-size: cover;
}

/*lightbulb*/

.name_watts> .inputFieldLabel {
    background-image: url(/static/graphics/thisEquals/icons/energy.svg);
    background-repeat: no-repeat;
    width: 27px;
    height: 27px;
}
.name_count> .inputFieldLabel {
    background-image: url(/static/graphics/thisEquals/icons/LightBulb.svg);
    width: 27px;
    height: 27px;
}
.name_time> .inputFieldLabel {
    background-image: url(/static/graphics/thisEquals/icons/time_second.svg);
    width: 27px;
    height: 27px;
}
.name_energy> .inputFieldLabel {
    background-image: url(/static/graphics/thisEquals/icons/energ_j.svg);
    width: 27px;
    height: 27px;
}

/*CO2*/

.name_mass> .inputFieldLabel {
    background-image: url(/static/graphics/thisEquals/icons/mass_kg.svg);
    width: 27px;
    height: 27px;
}
.name_timeToBreathOut> .inputFieldLabel {
    background-image: url(/static/graphics/thisEquals/icons/time_second.svg);
    width: 27px;
    height: 27px;
}
.name_volume_100> .inputFieldLabel {
    background-image: url(/static/graphics/thisEquals/icons/volume_m3.svg);
    width: 27px;
    height: 27px;
}
.name_volume_inAir> .inputFieldLabel {
    background-image: url(/static/graphics/thisEquals/icons/volume_air.svg);
    width: 27px;
    height: 27px;
}

/*cube*/

.name_density> .inputFieldLabel {
    background-image: url(/static/graphics/thisEquals/icons/volume_air.svg);
    width: 27px;
    height: 27px;
}
.name_volume> .inputFieldLabel {
    background-image: url(/static/graphics/thisEquals/icons/volume_m3.svg);
    width: 27px;
    height: 27px;
}

/*preson*/

.name_number> .inputFieldLabel {
    background-image: url(/static/graphics/thisEquals/icons/person_amuont.svg);
    width: 27px;
    height: 27px;
}
.analysis> .inputFieldLabel {
    background-image: url(/static/graphics/thisEquals/icons/analysis.svg);
    width: 27px;
    height: 27px;
}

/*PeopleRationPLay*/

.name_colours> .inputFieldLabel {
    background-image: url(/static/graphics/thisEquals/icons/color_pick.svg);
    width: 27px;
    height: 27px;
}
.name_randomLayout> .inputFieldLabel {
    background-image: url(/static/graphics/thisEquals/icons/randome.svg);
    width: 27px;
    height: 27px;
}
.name_numberOfClones> .inputFieldLabel {
    background-image: url(/static/graphics/thisEquals/icons/person_amuont.svg);
    width: 27px;
    height: 27px;
}
.name_ratios> .inputFieldLabel {
    background-image: url(/static/graphics/thisEquals/icons/rations.svg);
    width: 27px;
    height: 27px;
}

/*CPS*/

.name_efficiency> .inputFieldLabel {
    background-image: url(/static/graphics/thisEquals/icons/efficiency.svg);
    width: 27px;
    height: 27px;
}
#axis {
    background-image: url(/static/graphics/thisEquals/icons/axis.svg);
    background-size: cover;
    width: 27px;
    height: 27px;
    float: right;
    margin-right: 30px;
}
#reference {
    background-image: url(/static/graphics/thisEquals/icons/reference.svg);
    background-size: cover;
    width: 27px;
    height: 27px;
    float: right;
    margin-right: 15px;
}
#text_description {
    background-image: url(/static/graphics/thisEquals/icons/text_description.svg);
    background-size: cover;
    width: 27px;
    height: 27px;
    float: right;
    margin-right: 0px;
}
.ch_axis{
    margin-left: 0;
}
.ch_reference{
    margin-left: 15px;
}
.ch_description{
    margin-left: 30px;
}
.modelOutputContainer> .containerLabel {
    background-image: url(/static/graphics/thisEquals/icons/output.svg);
    width: 27px;
    height: 27px;
}
.visualisationOutputContainer> .containerLabel {
    background-image: url(/static/graphics/thisEquals/icons/visualisation.svg);
    width: 27px;
    height: 27px;
}


/*
    media for netbooks and large tablets

*/

@media screen and (max-width: 959px) {
    #top{
      height: 64px;
    }
    .top{
      line-height: 65px;
    }
    #logo> img {
      width: 180px;
    }
    div.modelClasses {
      bottom: 0;
      right: 0;
      top: initial;
      left: initial;
    }
    .hamburger{
      bottom: 5px;
      right: 15px;
      top: initial;
      left: initial;
    }

    div.model_options{
      width: 40%;
    }
    input.svgTextDescription, input.custom_svgNameInput {
      width: 205px;
    }
    div.modelSvgOutput{
      width: 57%;
      height: 380px;
      padding-top: 40px;
    }
    div.svgOutput {
        width: 380px;
        height: 300px;
    }
    div.svgModelRoot {
      height: 300px;
    }

    #axis {
      margin-right: 20px;
    }
    .ch_axis {
        margin-left: 0;
    }
    #reference {
      margin-right: 10px;
    }
    .ch_reference {
      margin-left: 10px;
    }
    #text_description {
      margin-right: 0;
    }
    .ch_description {
      margin-left: 20px;
    }

    div.customSVGPane.googleConnect {
      width: 100%;
    }
}


@media screen and (max-width: 768px){

    #modelClassUL{
      padding-top: 40px;
    }
    .ripplelink {
      height: 70px;
    }
    .modelClassLI img {
      width: 30px;
    }
    .modelClassLI h3 {
      line-height: 32px;
    }
    div.model_box_ctrl {
      position: relative;
      height: 60px;
      width: 32%;
      float: left;
      margin-bottom: 10px;
      background-color: #fff;
      background-size: 33px;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 3px;
      -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
      -webkit-transition: all .3s cubic-bezier(0.95, -0.09, .35, .95);
      transition: all .3s cubic-bezier(0.95, -0.09, .35, .95);
      overflow: hidden;
    }
    div.model_box_ctrl::before {
      content: '';
      position: absolute;
      background: rgba(0, 0, 0, 0);
      -webkit-transition: all .3s cubic-bezier(0.95, -0.09, .35, .95);
      transition: all .3s cubic-bezier(0.95, -0.09, .35, .95);
    }
    div.model_box_ctrl.active {
      background-size: 40px;
      -webkit-box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.12);
    }
    div.model_box_ctrl.shadow::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, .5);
      border-radius: 3px;
    }
    div.boxSliders{
        background-image: url(/static/graphics/thisEquals/icons/box_sliders.svg);
    }
    div.boxOutputCtrl{
        margin-left: 2%;
        margin-right: 2%;
        background-image: url(/static/graphics/thisEquals/icons/box_visual.svg);
    }
    div.boxCustomSvg{
        background-image: url(/static/graphics/thisEquals/icons/box_custom.svg);
    }
    div.model_options {
        position: relative;
        width: 100%;
        z-index: 1;
        max-height: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
        -webkit-transition: all .6s cubic-bezier(0.95, -0.09, .35, .95);
        transition: all .6s cubic-bezier(0.95, -0.09, .35, .95);
    }
    input.svgTextDescription, input.custom_svgNameInput {
        width: 90%;
    }
    div.modelSvgOutput{
      position: relative;
      top: 10px;
      width: 100%;
      float: left;
      transition: top .3s ease-in;
    }
    div.svgOutput {
      width: 330px;
    }
    div.model_options.active {
        height: inherit;
        padding: 20px;
        max-height: 600px;
    }
    .close_model {
        position: absolute;
        width: 98px;
        margin-left: -49px;
        left: 50%;
        bottom: 250px;
        color: #fff;
        font-size: 200px;
        z-index: 9999;
    }
}

@media screen and (max-width: 550px) {
    div.modelClasses.active {
      width: 100%;
    }
    input.svgTextDescription, input.custom_svgNameInput {
        width: 85%;
    }
    .hamburger {
      bottom: 22px;
      width: 58px;
      height: 58px;
      padding: 13px;
      padding-top: 16px;
    }
    .hamburger::before {
      width: 58px;
      height: 58px;
    }
    .hamburger-box {
      width: 30px;
      height: 25px;
    }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      width: 30px;
    }
    .hamburger-inner::before {
      top: -8px;
    }
    .hamburger-inner::after {
      bottom: -8px;
    }
}

@media screen and (max-width: 400px) {
    #modelClassUL {
      padding-top: 60px;
    }
    .ripplelink {
      height: 60px;
      padding: 16px 0;
      padding-left: 40px;
    }
    .modelClassLI img {
      width: 27px;
    }
    .modelClassLI h3 {
      line-height: 28px;
      font-size: 17px;
    }
    div.modelSvgOutput {
      height: 330px;
    }
    div.svgOutput {
      width: 250px;
      height: 250px;
    }
    div.svgModelRoot {
      height: 250px;
    }
}
