.displayNone
{ display: none !important;
}


@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
* 
{ font-family: Roboto;
  
}

html, body{
    height: 100%;
    width: 100%;

    background: #EEEEEE;
}

body
{ 
}

.smoothMove
{ -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.5s;
}

.marginAuto
{ margin: auto;
}

.opacityZero
{ opacity: 0.0;
}

.fullHeight
{ height:   100%;
}
.height64
{ height: 64px;
}
.square92
{ height: 92px;
  width: 92px;
}

.bg_visualTools
{ background-color: #23becc;
}
.bg_visualTools_dark
{ background-color: #18858e;
}
.wrapper
{ padding:  20px;
  position: relative;
}
.xs .wrapper
{ padding:  10px;
}

.fullScreenOverlay
{ position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* bs material */
.row, .container-fluid
{ margin: 0px;
  padding: 0px;
}

.navbar-fixed-side-container
{ width: 100%;
}
.navbar-fixed-side
{ margin-bottom: 0px !important;
}

/* Tools */

.centerBackgroundImage
{ background-position:  center;
  background-repeat:    no-repeat;
  background-size:      contain;

  
  height: 100%;
  width: 100%;

  margin:               auto auto !important;
}
.visualToolsLogo
{ background-image:     url(/static/graphics/visualTools/visual.tools.logo.png);

  min-height: 16px;
  min-width: 16px;
  max-width:            600px;
}
.visualToolsEye
{ background-image:     url(/static/graphics/visualTools/visual.tools.eye.png);

  min-height: 16px;
  min-width: 16px;
  max-width: 200px;
}

.profilePic
{ background-image:     url(/static/graphics/user/profilePic.jpg);

  min-height: 16px;
  min-width: 16px;
  max-width: 200px;
}

/*unique based content layout*/

#welcomeOver
{ opacity: 1.0;
}

.mainNav .navbar
{ align-items: flex-start;
}
.mainNav .navLogo
{ min-width: 64px;
  height:42px;
}
.mainNav .profilePic
{ margin-top: 10% !important;

  border-radius: 50%;
}
.mainNav .createConstructImage
{ height: 92px;
  width:  92px;

  background-image:     url(/static/graphics/thisEquals/icons/blueprint.svg);
}
.constructBlueprint .blueprintIcon
{ height: 32px;
  width:  32px;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover
{ background-color: #18858e;
}
.constructBlueprint .list-group-item :first-child
{ margin-right: inherit;
}
.constructBlueprint .blueprintItem .row-action-primary
{ margin-right: 8px;
}

.copyrightContainer
{ position: fixed;
  bottom: 0px;
  left: 0px;

  z-index: 1;
}


.masterReferenceSVGSelectList {
    position: absolute;
    left: -100px;
    top: -10000000px;
}
.masterReferenceSVGSelectList *
{   height: 1px !important;
    width:  1px !important;
}



/* Animations */

@keyframes spinner {
    from {
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
    to {
      -moz-transform: rotateY(-360deg);
      -ms-transform: rotateY(-360deg);
      transform: rotateY(-360deg);
    }
  }

body {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  perspective: 1200px;
  perspective-origin: 50% 0%;
}

.spinner {
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;

    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 6s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
